/*-- scss:defaults --*/

// Color
$primary: #17a398 !default;
$primary-faded: rgba($primary, 0.05) !default;
$primary-light: lighten($primary, 20%) !default;
$primary-dark: darken($primary, 20%) !default;
$primary-darkest: darken($primary, 30%) !default;

$secondary: #ee6c4d !default;
$secondary-faded: rgba($secondary, 0.05) !default;
$secondary-light: lighten($secondary, 20%) !default;
$secondary-dark: darken($secondary, 20%) !default;
$secondary-darkest: darken($secondary, 30%) !default;

$light: #f4f4f4 !default;
$light-faded: rgba($light, 0.05) !default;

$dark: #222222 !default;
$dark-faded: rgba($dark, 0.05) !default;

// Font
$web-font-path: "https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Sans:wght@100;400;700&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

$font-family-sans-serif: "Fira Sans", sans-serif;
$font-family-monospace: "Fira Code", monospace;

/*-- scss:rules --*/

// General
body {
  background: $dark;
  color: $light;

  p {
    font-weight: 100;

    a {
      font-family: $font-family-monospace;
    }
  }

  a {
    color: $primary-light;
    font-weight: 400;
    text-decoration: none;

    &:hover {
      color: $primary;
    }
  }

  i {
    color: $secondary;
  }

  li {
    list-style: none;
    padding-bottom: 0.5rem;
    font-weight: 100;

    // em {
    //   font-weight: 100;
    // }
  }
}

code {
  font-family: $font-family-sans-serif;
  color: $light;
  background: $light-faded !important;
}

// Navbar
.navbar-title {
  font-family: $font-family-monospace;
  font-weight: 700;
  color: $light;
}

.menu-text {
  color: $light;
}

.navbar {
  background: $primary !important;
}

// Headers
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-monospace;
}

h1 {
  color: $light;
}

h2 {
  color: $primary;
}

.title {
  display: none;
}

// Sections
blockquote {
  border-left: 0.5rem solid $primary;
  background: $light-faded;

  h1 {
    color: $light;
    font-size: 3rem;
  }

  p {
    font-weight: 400;
  }
}

#professional-experience {
  li {
    ul {
      li::before {
        content: "\2022";
        color: $secondary;
        font-weight: 700;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
    }
  }
}

#toc-title {
  color: $light;
  font-weight: 100;
}

// Footer
.nav-footer {
  background: $secondary;
  color: $dark;

  i {
    color: $dark;
    font-size: 1.5rem;
  }
}
